/*Importing Google Font - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  color: rgb(255, 248, 255);
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", serif;
}
body {
  font-size: 24px;
  width: 100%;
  color: rgb(255, 248, 255);
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background:  #121212 no-repeat center;
  text-align: center;
  float: left;
  flex-direction: column;
}
.menu {
  width: 100%;
  display:flex;
  position: fixed;
  top: 32px;
  left: 0;
  width: 100%;
  background-color:#1C1C1C;
  color: rgb(255, 248, 255);
  padding-top:23px;
  padding-bottom: 23px;
  padding-right: 124px;
  padding-left: 124px;
  align-items: center;
  flex: 1 0 0;
  font-size: 20px;
  gap: 36px;
  text-decoration: none;
  font-weight: 400;
  align-items: center;
  text-align: center;
  justify-content:center;
}
.advert{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--gradient-name-1, linear-gradient(90deg, #298AEE 0%, #02D0DE 100%));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: var(--white, #FFF8FF);
  text-align: center;
  /* h2 */
  font-family: "Atkinson Hyperlegible";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 32px */
}
.main-wrapper {
  flex-direction: column;
  min-height: 100vh;
}
.svg-1parth {
  color: var(--white, #FFF8FF);
  text-align: center;
  font-size: 28px;
  min-width: 130px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.svg-button {
  display: flex;
  width: 64px;
  height: 64px;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}
.button-theme{
  display: flex;
  padding: 2px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 25px;
  background: var(--light-blue-4, #7DCFCF);
}
.text {
  gap: 60px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  display: flex;
  font-size: 36px;
  justify-content: flex-start;
  padding-top: 200px;
  font-weight: 500;
  padding-bottom: 70px;
  text-transform:none;
}
.switch-column {
  display: inline-block;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  font-weight: 400;
  gap: 0px;
  flex-direction: column;
  padding-block: 14px;
}
.stroke-text{
  flex-direction: row;
  vertical-align: middle;
  justify-content: center;
  height: 56px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.switch-stroke {
  flex-direction: row;
  vertical-align: middle;
  justify-content: center;
  height: 56px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.gradient-phrase-1 {
  background: linear-gradient(90deg, #298AEE,#03CFC2);
  background-clip: text;
  font-size: 100px;
  font-weight: 700;
  -webkit-background-clip: text;
  color: transparent; 
  display: inline-block; 
  -webkit-text-fill-color: transparent;
}
.gradient-phrase-2 {
  background: linear-gradient(90deg, #298AEE,#AC8AFA);
  background-clip: text;
  font-size: 100px;
  font-weight: 700;
  -webkit-background-clip: text;
  color: transparent; 
  display: inline-block; 
  -webkit-text-fill-color: transparent;
}
.name {
  padding-top: 86px;
  font-display:flex;
  text-align: center;
  font-size: 46px;
  color: #FFF8FF;
}
.tariff-section {
  background-color: #1C1C1C;
  padding-top: 70px;
  width: 100%;
  min-width: 100%;
  padding-bottom: 70px;
  gap: 60px;
  height: 772px;
  justify-content: space-around;
  align-self: stretch;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  font-feature-settings: 'case' on;
  text-overflow: ellipsis;
  color: #FFF8FF;
  text-transform: capitalize;
  line-height: 150%;
}
.about-us-section {
  padding-left: 124px;
  padding-right: 124px;
  padding-top: 190px;
  padding-bottom: 190px;
  font-size: 32px;
  background-color: rgb(18, 18, 18);
  display: flex;
  gap: 60px;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-weight: 700;
  font-style: normal;
  line-height: 150%;
  text-transform: capitalize;
}
.stroke-cards {
  display: flex;
  gap: 32px;
  align-items: center;
  align-self: stretch;
  justify-content: center;
  padding: 0px 124px;
}
.card {
  background-color: #1C1C1C;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-width: 200px;
  max-width: 376px;
  max-height: 358px;
  align-self: stretch;
  border-radius: 45px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 52px;
  padding-bottom: 52px;
  font-size: 20px;
  color: #BCBCBC;;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.card-svg-frame-128 {
  width: 128px;
  height: 128px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}
.video-section {
  background-color: #1C1C1C;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 32px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  display: flex;
  color: #FFF8FF;
  font-weight: 700;
  font-style: normal;
}
.footer {
  background-color: #121212;
  width: 100%;
  padding-top:23px;
  padding-bottom: 23px;
  padding-right: 124px;
  padding-left: 124px;
  bottom: 0;
  display: flex;
  height: 370px;
  gap: 376px; 
}
.text-column {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  font-size: 20px;
  flex-direction: column;
  align-self: stretch;
  gap: 40px;
  justify-content:flex-start;
  text-align:left;
  flex: 1 0 0;
  color: rgb(255, 248, 255 1);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  min-width: 408px;
}
.text-contacts {
  color:#BCBCBC;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 20px;
  flex-direction: column;
  flex-flow: column;
  align-self: stretch;
  display: flex;
}
.slider-wrapper {
  overflow: hidden;
  max-width: 848px;
  min-width: 848px;
  margin: 0 70px 55px;
}
.card-list .card-item {
  background-color: #1C1C1C;
  align-items: center;
  text-align: center;
  width: 376px;
  height: 524px;
  max-width: 376px;
  max-height: 524px;
  font-weight: 700;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.6px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  flex-shrink: 0;
  font-size: 20px;
  gap: 20px;
  font-weight: bold; 
  color: #7DCFCF;
  border: 3px solid;
  border-radius: 40px;
  border-color: #7DCFCF;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 16px;
  padding-right: 16px;
  user-select: none;
}
.card-list .card-item .user-profession {
  font-size: 1.15rem;
  color: #e3e3e3;
  font-weight: 500;
  margin: 14px 0 40px;
}
.card-list .card-item .message-button {
  display: flex;
  align-items: center;
  width: 128px;
  background: #7DCFCF;
  border-radius: 90px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: center;
  color:#1C1C1C ;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.2s ease;
}
.card-list .card-item .message-button:hover {
  background:  rgba(190, 255, 255, 1);
  border: 1px solid #fff;  
  color: rgba(28, 28, 28, 1);
}
.slider-wrapper .swiper-pagination-bullet {
  background: #fff;
  height: 15px;
  width: 15px;
}
.slider-wrapper .swiper-slide-button {
  color: rgba(188, 188, 188, 1);
  margin-top: -50px;
  transition: 0.2s ease;
}
.slider-wrapper .swiper-slide-button:hover {
  color: rgba(110, 103, 110, 1);
}
@media (max-width:848px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }
  .slider-wrapper .swiper-slide-button {
    display: none;
  }  
}
.rounded-frame::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 1px; /* Border thickness */
  background: linear-gradient(to bottom, rgba(74, 68, 88, 1), rgba(18, 18, 18, 1));
  -webkit-mask: linear-gradient(#1C1C1C 0 0) content-box, linear-gradient(#1C1C1C 0 0);
  mask: linear-gradient(#1C1C1C 0 0) content-box, linear-gradient(#1C1C1C 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.name-small {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}
.stroke-small {
  display: flex;
  justify-content: center;
  width: 282px;
  align-items: center;
  gap: 6px;
  align-self: stretch;
}
.column-small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 6px;
  padding: 0px;
}
.rounded-frame-small {
  width: 90px;
  justify-content: flex-start;
  height: 114px;
  font-weight: 700;
  font-size: 24px;
  gap: 4px;
  color: #FFF8FF;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 6px;
  padding-right: 6px;
  height: 128px;
  border-radius: 18px;
  background-color: #1C1C1C;
  display: flex;
  justify-content:flex-start;
  flex-direction: column;
  align-items:center;
  box-sizing: border-box;
  overflow: hidden;
}
.rounded-frame-small::before {
  content: '';
  justify-content: flex-start;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  padding: 1px; /* Border thickness */
  background: linear-gradient(to bottom, rgba(74, 68, 88, 1), rgba(18, 18, 18, 1));
  -webkit-mask: linear-gradient(#1C1C1C 0 0) content-box, linear-gradient(#1C1C1C 0 0);
  mask: linear-gradient(#1C1C1C 0 0) content-box, linear-gradient(#1C1C1C 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.conteiner-svg-small {
  height: 24px;
  width: 24px;
  justify-content: flex-start;
  display: flex;
  padding: 4px 4px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
}
.flex-small {
  display: flex;
  font-weight: normal;
  flex-flow: column;
  justify-content: flex-start;
  font-size: 14px;
  text-align: center;
  gap: 0px;
}
.flex-gray-small {
  display: flex;
  justify-content: flex-start;
  font-weight: normal;
  flex-flow: column;
  font-size: 14px;
  text-align: center;
  gap: 0px;
  color: #606060;
}
.card-list .card-item-small {
  background-color: #1C1C1C;
  align-items: center;
  text-align: center;
  width: 376px;
  height: 524px;
  max-width: 376px;
  max-height: 524px;
  font-weight: 700;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.6px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  flex-shrink: 0;
  font-size: 20px;
  gap: 20px;
  font-weight: bold;
  color: rgba(180, 183, 249, 1);
  border: 3px solid;
  border-radius: 40px;
  border-color: #B4B7F9;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 16px;
  padding-right: 16px;
  user-select: none; 
}
.card-list .card-item-small .user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: 3px solid #fff;
  padding: 4px;
}
.card-list .card-item-small .user-profession {
  font-size: 1.15rem;
  color: #e3e3e3;
  font-weight: 500;
  margin: 14px 0 40px;
}
.card-list .card-item-small .message-button-small {
  display: flex;
  align-items: center;
  width: 128px;
  background: #7DCFCF;
  border-radius: 90px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: center;
  color:#1C1C1C ;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.2s ease;
}
.card-list .card-item-small .message-button-small:hover {
  background:  rgba(190, 255, 255, 1);
  border: 1px solid #fff;  
  color: rgba(28, 28, 28, 1);
}
.price-small {
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  color:#FFF8FF;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  font-style: normal;
  gap: 8px;
  align-self: center;
}
.conteiner-price-small {
  gap: 18px;
  padding: 8px;
}
.card-list .card-item-small-green {
  background-color: #1C1C1C;
  align-items: center;
  text-align: center;
  width: 376px;
  height: 524px;
  max-width: 376px;
  max-height: 524px;
  font-weight: 700;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.6px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  flex-shrink: 0;
  font-size: 20px;
  gap: 20px;
  font-weight: bold;
  color: rgba(138, 218, 136, 1);
  border: 3px solid;
  border-radius: 40px;
  border-color: rgba(138, 218, 136, 1);
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 16px;
  padding-right: 16px;
  user-select: none;
}
.card-list .card-item-small-green .message-button-small-green {
  display: flex;
  align-items: center;
  width: 128px;
  background: rgba(138, 218, 136, 1);
  border-radius: 90px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: center;
  color:#1C1C1C ;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.2s ease;
}
.card-list .card-item-small .message-button-small {
  display: flex;
  align-items: center;
  width: 128px;
  background: rgba(180, 183, 249, 1);
  border-radius: 90px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: center;
  color:#1C1C1C ;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.2s ease;
}
.card-list .card-item-small-pink .message-button-small-pink {
  display: flex;
  align-items: center;
  width: 128px;
  background: rgba(201, 174, 235, 1);
  border-radius: 90px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  justify-content: center;
  color:#1C1C1C ;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.2s ease;
}
.card-list .card-item-small-pink {
  background-color: #1C1C1C;
  align-items: center;
  text-align: center;
  width: 376px;
  height: 524px;
  max-width: 376px;
  max-height: 524px;
  font-weight: 700;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.6px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  flex-shrink: 0;
  font-size: 20px;
  gap: 20px;
  font-weight: bold;
  color: rgba(201, 174, 235, 1);
  border: 3px solid;
  border-radius: 40px;
  border-color: #B4B7F9;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 16px;
  padding-right: 16px;
  user-select: none;
}
.card-list .card-item-small-pink .message-button-small-pink:hover {
  background:  #FDE2FF;
  border: 1px solid #fff;  
  color: rgba(28, 28, 28, 1);
}
.card-list .card-item-small .message-button-small:hover {
  background:  #DFE2FF;
  border: 1px solid #fff;  
  color: rgba(28, 28, 28, 1);
}
.card-list .card-item-small-green .message-button-small-green:hover {
  background:  #E4FFE2;
  border: 1px solid #fff;  
  color: rgba(28, 28, 28, 1);
}
.button-theme:hover {
  background-color: rgba(148, 230, 230, 1);
  color: rgba(82, 164, 164, 1);
  border-radius: 25px;
  transform: scale(1.1);
  transition: background 0.3s ease, transform 0.2s ease;
}
.button-theme:active {
  border-radius: 25px;
  transform: scale(1.1);
  border: 1px solid var(--blue-1, #009CE6);
  background: linear-gradient(0deg, rgba(0, 156, 230, 0.10) 0%, rgba(0, 156, 230, 0.10) 100%);
}
.logo:hover {
  transition: background 0.3s ease, transform 0.2s ease;
  transform: scale(1.1);
}
/* Style the navigation container */
nav {
  padding: 15px 0; /* Top and bottom padding */
  text-align: center;
  min-width: 545px;
  gap: 102px;
  display: inline-block; /* Center align the list */
}

/* Remove default list styling */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

/* Style the list items */
nav ul li {
  display: inline-block; /* Display items horizontally */
  margin: 0 15px; /* Space between menu items */
}

/* Style the links */
nav ul li a {
  text-decoration: none; /* Remove underline */
  font-size: 18px;
  font-weight: bold;
  color: white; /* Text color */
  padding-top: 18px;
  padding-bottom: 20px;/* Padding around links */
  border-radius: 20px; /* Rounded corners */
  transition: background 0.3s ease, transform 0.2s ease;
}

/* Hover effect */
nav ul li a:hover {
  background: #272727; /* Change background color on hover */
  transform: scale(1.1); /* Slight zoom effect */
}

/* Active (when clicked) */
nav ul li a:active {
  background: #7DCFCF;
  transform: scale(0.95);
}
#anchor1, #anchor2, #anchor3 {
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  text-decoration: none;
  padding-bottom: 8px;
  height: auto;
  display: flex;
}
.button-about:hover{
  background: #292929;
  border-radius: 25px;
}
.button-contact-us{
  min-width:max-content;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 8px;
  height: auto;
  display: flex;
}
.button-contact-us:hover{
  background: #292929;
  border-radius: 25px;
}

